<p class="text-center"><strong>Trade Notices</strong></p>

<table class="table table-striped table-bordered text-center" style="font-size: 12px;">
	<thead class="bg-primary">
	<tr>
		<th class="text-center">Trade Notice</th>
		<th class="text-center">Subject</th>		
	</tr>
	</thead>
	<tbody>
	<tr>
		<td><a href="assets/trade-notices/1.pdf" target="_blank"> Trade Notice 01/2017 dated 20.06.2017</a>
		<p><a href="assets/trade-notices/1-corrigendum.pdf" target="_blank">Corrigendum</a></p>
		</td>
		<td>Appointment of officers, Territorial Jurisdiction in Bengaluru Zone</td>
	</tr>
		<tr>
		<td><a href="assets/trade-notices/2.pdf" target="_blank"> Trade Notice 02/2017 dated 28.06.2017</a>
		</td>
		<td>CPC and "proper officer" for GST</td>
	</tr>
		<tr>
		<td><a href="assets/trade-notices/3.pdf" target="_blank"> Trade Notice 03/2017 dated 30.06.2017</a>
		</td>
		<td>Notifications issued under CGST, IGST and  Compensation to States Act</td>
	</tr>
		<tr>
		<td><a href="assets/trade-notices/4.pdf" target="_blank"> Trade Notice 04/2017 dated 20.06.2017</a>
		<p><a href="assets/trade-notices/4-corrigendum.pdf" target="_blank">Corrigendum</a></p>
		</td>
		<td>Revised Jurisdiction to come in to effect from 22.06.2017</td>
	</tr>
	</tbody>
</table>	