<div class="align-items-center">
<p class="h2">Location of Central Tax Offices</p>
<table class="table table-striped table-bordered text-center">
	<thead class="text-center">
    <tr>
      <th>Office</th>
      <th>Location</th>
    </tr>
	</thead>
	
	<tbody>
    <tr>
      <td><b>Office of the Principal Chief Commissioner of Central Tax, Bengaluru Zone</b></td>
      <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d124413.42962580714!2d77.53660569742027!3d12.976989216690527!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1665a0f98461%3A0xea4401945f2d79be!2sThe+Commissioner+of+Central+Excise!5e0!3m2!1sen!2sin!4v1501236781600" width="200" height="150" frameborder="0" style="border:0" allowfullscreen></iframe></tr>
    <tr>
      <td>Office of the Principal Commissioner of Central Tax, Bengaluru East</td>
      <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.1594504106693!2d77.63650451442014!3d12.961646818604615!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae15de9edb73e9%3A0x56175e7dfb8cb544!2sService+Tax+Commissionerate-2!5e0!3m2!1sen!2sin!4v1501238322831" width="200" height="150" frameborder="0" style="border:0" allowfullscreen></iframe></td>  
    </tr>
	<tr>
      <td>Office of the Principal Commissioner of Central Tax, Bengaluru West</td>
      <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31110.770214425476!2d77.55535803955081!3d12.917599900000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1579d1285209%3A0xe4915cb33ebf839d!2sBanashankari+TTMC!5e0!3m2!1sen!2sin!4v1501239802582" width="200" height="150" frameborder="0" style="border:0" allowfullscreen></iframe></td>  
    </tr>
	<tr>
      <td>Office of the Principal Commissioner of Central Tax, Mysuru</td>
      <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31185.079781123084!2d76.65751034547864!3d12.306696122483562!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3baf7030274ee621%3A0x580b5cbfc8700ee6!2sCentral+Excise%2C+Customs+%26+Service+Tax+Mysore!5e0!3m2!1sen!2sin!4v1501239568484" width="200" height="150" frameborder="0" style="border:0" allowfullscreen></iframe></td>  
    </tr>
	<tr>
      <td>Office of the Commissioner of Central Tax, Bangalore North</td>
      <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.2454905895047!2d77.58221571442061!3d13.020032917337469!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae17c9d3d0cae5%3A0x5763a1724f8cab06!2sHMT+Bhavan!5e0!3m2!1sen!2sin!4v1501239677529" width="200" height="150" frameborder="0" style="border:0" allowfullscreen></iframe></td>  
    </tr>
	<tr>
      <td>Office of the Commissioner of Central Tax, Bangalore South</td>
      <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d124413.42962580714!2d77.53660569742027!3d12.976989216690527!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1665a0f98461%3A0xea4401945f2d79be!2sThe+Commissioner+of+Central+Excise!5e0!3m2!1sen!2sin!4v1501236781600" width="200" height="150" frameborder="0" style="border:0" allowfullscreen></iframe></td>  
    </tr>
	<tr>
      <td>Office of the Commissioner of Central Tax, Bangalore North West</td>
      <td><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d31104.347841998097!2d77.5803871!3d12.9690696!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1663ec090abf%3A0xdce1deef96d6298c!2sShivajinagar+Bus+Station!5e0!3m2!1sen!2sin!4v1501239452988" width="200" height="150" frameborder="0" style="border:0" allowfullscreen></iframe></td>  
    </tr>
	<tr>
      <td>Office of the Commissioner of Central Tax, Mangaluru</td>
      <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3889.523560304073!2d74.84653831441932!3d12.874019920496208!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba350a13025ca41%3A0x4d964bfe92ae9599!2sCentral+Excise+%26+Service+Tax!5e0!3m2!1sen!2sin!4v1501238447566" width="200" height="150" frameborder="0" style="border:0" allowfullscreen></iframe></td>  
    </tr>
	<tr>
      <td>Office of the Commissioner of Central Tax, Belagavi</td>
      <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3837.727797169937!2d74.50409387420525!3d15.87089752977211!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bbf66ac7f6c0b27%3A0x67c82b56cae8765f!2sCentral+Excise%2C+Custom+%26+Service+Tax!5e0!3m2!1sen!2sin!4v1501238540188" width="200" height="150" frameborder="0" style="border:0" allowfullscreen></iframe></td>  
    </tr>
	</tbody>
</table>
</div>



