<div class="row" >
<div class="col-2">
<img alt="PCC Photo" class="img-responsive center-block rounded float-left" src="assets/pcc-photo.jpg"/>

</div>
<div class="col-1">
</div>
<div class="col-9">
	<p class="text-justify text-center">
		<b>Message from Shri M. Vinod Kumar, IRS (C&amp;CE: 1984)</b><br>
		<b>Principal Chief Commissioner of Central Tax, Bengaluru Zone</b>
		<br>
	</p>

	<p class="text-justify mt-1">GST, which is the product of a collaborative effort of various 
		stake-holders, has now become a reality. The formulation of the law and 
		procedures has been the result of extended deliberations, discussions 
		and consultations conducted over the course of a decade.
	</p>
</div>
</div>

<div class="row" >
<div class="col-12">

<p  class="text-justify">
	Now, in order to ensure successful implementation of the new taxation 
		regime, the CBEC formations in Karnataka have been re-organized in such 
		a manner as to ensure both trade facilitation across the length and 
		breadth of the state, as well as to align the existing formations in 
		line with the GST design.
	</p>	


<p  class="text-justify">
		With the change in the orientation, which is absolutely essential for 
		this Department to successfully implement GST, it was felt that the 
		existing website of the Zone needed to be overhauled in order to provide 
		more content on GST to the trade and industry. This is in continuation 
		of the steps already taken to create awareness about GST by means of 
		advertisements, holding Public Outreach Programmes and the conversion of 
		every office into a Sewa Kendra in order to offer better taxpayer 
		services. </p>
		
<p class="text-justify">
		Apart from furnishing up to date information on matters relating to GST, 
		the website also provides information regarding jurisdictions in an 
		accessible and user-friendly manner. The zone would also be launching an 
		app shortly, which would be of use to both existing as well as new 
		taxpayers.&nbsp;A period of transition always poses challenges, given the 
		various changes that are occurring on a continuous basis.</p>		
		
<p class="text-justify">
		We hope that this website, as well as the app that will be released, 
		will enable you to stay abreast of all these changes, and will be a 
		fount of authentic information, that will enable you to function 
		smoothly in the GST era. All the officers and staff of the Zone would 
		like to assure the trade and industry of their continued support and 
		assistance to enable a smooth transition to the GST regime.</p>
		
<p class="text-justify text-center"><b>***********</b></p>
</div>
</div>
