<p>
		Under the provisions of <strong>Section 5 of the Right to Information Act, 2005</strong>, all 
		concerned are hereby notified that the following Officers have been designated as CPIOs; 
		and as the Appellate Authority in respect of the Jurisdictions as is indicated in the table 
		below, for all offices falling within the supervisory authority of the Principal Chief Commissioner 
		Central Excise and Central Tax (GST), Bengaluru Zone, Karnataka.
</p>

<table class="table table-bordered text-center">
	<thead class="bg-primary">
	<tr>
		<th class="text-center">Name &amp; Address of CPIO</th>
		<th class="text-center">Name &amp; Address of the Appellate	Authority</th>
		<th class="text-center">Jurisdiction</th>
	</tr>
	</thead>

	<tbody>
	<tr>
		<td style="background-color: #99CCFF">
			<p><b>Shri. S. Ravichander,</b></p>
			<p><b>Deputy Commissioner, PCCO</b></p>
			<p>C.R Building, Queens Road, Bengaluru-560001</p>
		</td>
		<td style="background-color: #F0E68C">
			<p><b>Shri. Amitesh Bharat Singh,</b></p>
			<p><b>Additional Commissioner, PCCO</b></p>
			<p>C.R Building, Queens Road, Bengaluru-560001</p>
		</td>
		<td style="background-color: #8BC34A">
			<p>All matter relating to cadre controlling authority for the entire state of Karnataka.</p>
		</td>
	</tr>
	
	
	<tr>
		<td style="background-color: #99CCFF">
			<p><b>Shri. G.C. Venkatesh,</b></p>
			<p><b>Assistant Commissioner,</b></p>
			<p>GST Commissionerate- Bengaluru East, Floor-3, TTMC 
			Building, Above BMTC Bus Stand, Domlur, Bengaluru-560071.</p>
		</td>
		<td style="background-color: #F0E68C">
			<p><b>Shri. H Soikhanthang</b></p>
			<p><b>Joint Commissioner</b></p>
			<p>GST Commissionerate- Bengaluru East, Floor-4, TTMC 
			Building, Above BMTC Bus Stand, Domlur, Bengaluru-560071.</p>
			<p></p>
		</td>
		<td style="background-color: #8BC34A">
			<p>Matters relating to Bengaluru East Commissionerate Bengaluru</p>
		</td>
	</tr>
	
		<tr>
		<td style="background-color: #99CCFF">
			<p><b>Shri. Mariappan.T,</b></p>
			<p><b>Assistant Commissioner,</b></p>
			<p>Central Excise & Central Tax (GST), 1st floor, BMTC Bus stop 
			complex, Banashankari, Bengaluru – 560070</p>
			
		</td>
		<td style="background-color: #F0E68C">
			<p><b>Shri. R.L. Ramesh Ram,</b></p>
			<p><b>Joint Commissioner,</b></p>
			<p>Central Excise & Central Tax (GST), 1st floor, BMTC Bus stop 
			complex, Banashankari, Bengaluru – 560070</p>
		</td>
		<td style="background-color: #8BC34A">
			<p>Matters relating to Bengaluru West Commissionerate, Bengaluru</p>
		</td>
	</tr>
	
		<tr>
		<td style="background-color: #99CCFF">
			<p><b>Shri.B.H.Nandish</b></p>
			<p><b>Assistant Commissioner,</b></p>
			<p>Central Excise &amp; Central Tax (GST) Bangalore South Commissionerate,
			3rd Floor, C.R. Building, Queen’s Road, P.B.No.5400 Bengaluru-560 001</p>
		</td>
		<td style="background-color: #F0E68C">
			<p><b>Shri. S. Nasser Khan,</b></p>
			<p><b>Joint Commissioner,</b></p>
			<p>Central Excise &amp; Central Tax (GST) Bangalore South Commissionerate,
			5th Floor, C.R. Building, Queen’s Road, P.B.No.5400 Bangalore-560 001</p>
		</td>
		<td style="background-color: #8BC34A">
			<p>Matters relating to Bengaluru South Commissionerate Bengaluru</p>
		</td>
	</tr>
	
	<tr>
		<td style="background-color: #99CCFF">
			<p><b>Shri. K.G. Ravindra,</b></p>
			<p><b>Assistant Commissioner,</b></p>
			<p>Central Excise &amp; Central Tax (GST), 2nd Floor, Shivajinagar 
			BMTC Bus Stand Complex, Bengaluru –5600 51</p>
		</td>
		
		<td style="background-color: #F0E68C">
			<p><b>Ms. Priya Goel,</b></p>
			<p><b>Joint Commissioner</b></p>
			<p>Central Excise &amp; Central Tax (GST), 2nd Floor,South wing,
			Shivajinagar BMTC Bus Stand Complex, Shivajinagar,Bengaluru –560051.</p>
		</td>
		<td style="background-color: #8BC34A">
			<p>Matters relating to Bengaluru North-West Commissionerate Bengaluru</p>
		</td>
	</tr>
	
	<tr>
		<td style="background-color: #99CCFF">
			<p><b>Shri. M.Suresh,</b></p>
			<p><b>Assistant Commissioner,</b></p>
			<p>Central Excise &amp; Central Tax (GST), Bangalore North Commissionerate,
			HMT Bhavan,Ganga Nagar, Bellary Road, Bengaluru- 560 032</p>
		</td>
		
		<td style="background-color: #F0E68C">
			<p><b>Ms. Rashmi Mishra,</b></p>
			<p><b>Joint Commissioner,</b></p>
			<p>Central Excise &amp; Central Tax (GST), Bangalore North Commissionerate, 
			Ground Floor, HMT Bhavan, Ganga Nagar, Bellary Road, Bengaluru – 560032</p>
		</td>
		<td style="background-color: #8BC34A">
			<p>Matters relating to Bengaluru North Commissionerate Bengaluru</p>
		</td>
	</tr>
	
	<tr>
		<td style="background-color: #99CCFF">
			<p><b>Shri. G. Shantharam,</b></p>
			<p><b>Assistant Commissioner,</b></p>
			<p>Central GST &amp; Central Excise, Vinaya Marga, Siddhartha Nagar,
			Mysore - 570 011</p>
		</td>
		
		<td style="background-color: #F0E68C">
			<p><b>Shri Y.C.S. Swamy,</b></p>
			<p><b>Additional Commissioner,</b></p>
			<p>Central GST &amp; Central Excise, Vinaya Marga, Siddhartha Nagar,
			Mysore - 570 011</p>
		</td>
		<td style="background-color: #8BC34A">
			<p>Matters relating to Mysuru Commissionerate Mysuru.</p>
		</td>
	</tr>
	
	<tr>
		<td style="background-color: #99CCFF">
			<p><b>Ms. C.T. Bindu,</b></p>
			<p><b>Assistant Commissioner,</b></p>
			<p>Central Excise &amp; Central Tax (GST), 7th Floor, Trade Centre,
			Bunts Hostel Road, Mangaluru-575003.</p>
		</td>
		
		<td style="background-color: #F0E68C">
			<p><b>Shri Y.C.S. Swamy,</b></p>
			<p><b>Additional Commissioner,</b></p>
			<p>Central Excise &amp; Central Tax (GST), 7th Floor, Trade Centre,
			Bunts Hostel Road, Mangaluru-575003.</p>
		</td>
		<td style="background-color: #8BC34A">
			<p>Matters relating to Mangalore Commissionerate Mangalore.</p>
		</td>
	</tr>
	
	<tr>
		<td style="background-color: #99CCFF">
			<p><b>Shri K. Shivakumar,</b></p>
			<p><b>Assistant Commissioner,</b></p>
			<p>Central Excise &amp; Central Tax (GST), No.71, Club Road, Belgaum- 590 001.</p>
		</td>
		
		<td style="background-color: #F0E68C">
			<p><b>Shri. Sanjay Kumar Mahto,</b></p>
			<p><b>Joint Commissioner,</b></p>
			<p>Central Excise &amp; Central Tax (GST), 7th Floor, Trade Centre,
			Bunts Hostel Road, Mangaluru-575003.</p>
		</td>
		<td style="background-color: #8BC34A">
			<p>Matters relating to Belagavi Commissionerate Belagavi.</p>
		</td>
	</tr>

	</tbody>
</table>
