<div>
<p class="text-center"><strong>FAQs</strong></p>
<div class="list-group">
  <a href="/assets/faqs/faq-on-gst-kannada.pdf" class="list-group-item list-group-item-action">
	GST ನಲ್ಲಿ ಹೆಚ್ಚಾಗಿ ಕೇಳಲಾಗುವ ಪ್ರಶ್ನೆಗಳು (ಕನ್ನಡ)
  </a>
  <a href="/assets/faqs/faq-gst-hindi.pdf" class="list-group-item list-group-item-action">
	GST पर अकसर पूछे जाने वाले प्रश्न (हिंदी)
  </a>
  <a href="/assets/faqs/new-faq-on-gst-second-edition.pdf" class="list-group-item list-group-item-action">
	FAQs on GST in English
  </a>
  <a href="/assets/faqs/faq-composition-levy-revised.pdf" class="list-group-item list-group-item-action">
	Revised FAQs on Composition Levy
  </a>
  <a href="/assets/faqs/FAQs-GST-rate.pdf" class="list-group-item list-group-item-action">
	FAQs on GST Rates
  </a>
  <a href="/assets/faqs/tweet-faq.pdf" class="list-group-item list-group-item-action">
	Compilation of FAQs on Twitter
  </a>
</div>
</div>

<div>
<p class="text-center mt-2"><strong>Sector Specific FAQs</strong></p>
<div class="list-group">
  <a href="/assets/faqs/sectoral-booklets-exports.pdf" class="list-group-item list-group-item-action">
	Exports
  </a>
  <a href="/assets/faqs/sectoral-booklets-msme.pdf" class="list-group-item list-group-item-action">
	MSME
  </a>
  <a href="/assets/faqs/sectoral-booklets-textiles.pdf" class="list-group-item list-group-item-action">
	Textiles
  </a>
</div>
</div>