<p>The Bengaluru Central Tax Zone was notified to have come into existence by the Central Board of Excise and Customs (CBEC) vide <b> Notification No. 2/2017-Central Tax dated 19th July 2017.</b> The Central Tax Zone is headed by an officer of the rank of Principal Chief Commissioner.</p>

<p>The Bangalore Central Tax Zone is the Statutory Jurisdictional Central Tax Authority for administering the GST Acts, Central Excise Act 1944 and Finance Act 1994 for the <b>State of Karnataka.</b></p>

<p>Shri M. Vinod Kumar, IRS (C&CE: 1984) has been appointed as the first Principal Chief Commissioner of the Bengaluru Central Tax Zone.</p>
<p>The Bengaluru Central Tax Zone consists of the following:</p>

<table class="table table-striped table-bordered text-center" style="font-size: 12px;">
	<thead class="bg-info">
	<tr>
		<th class="text-center">Central Tax Office</th>
		<th class="text-center">Incumbent</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td class="bg-info">Principal Commissioner of Central Tax Bengaluru East</td>
		<td>Shri R. Sriram</td>
	</tr>
		<tr>
		<td class="bg-info">Commissioner of Central Tax Bengaluru South</td>
		<td>Shri G. Narayanswamy</td>
	</tr>
		<tr>
		<td class="bg-info">Commissioner of Central Tax Bengaluru North</td>
		<td>Shri Amar K. Sinha</td>
	</tr>
		<tr>
		<td class="bg-info">Commissioner of Central Tax Bengaluru North West</td>
		<td>Shri Dharam Singh</td>
	</tr>
		<tr>
		<td class="bg-info">Principal Commissioner of Central Tax Bengaluru West</td>
		<td>Shri H. Bheemashankar</td>
	</tr>
		<tr>
		<td class="bg-info">Principal Commissioner of Central Tax Mysuru</td>
		<td>Shri G.V. Krishna Rao</td>
	</tr>
		<tr>
		<td class="bg-info">Commissioner of Central Tax Belagavi</td>
		<td>Shri B. K. Kar</td>
	</tr>
		<tr>
		<td class="bg-info">Commissioner of Central Tax Mangalore</td>
		<td>Dr. M. Subramanyam</td>
	</tr>
	</tbody>
</table>

<table class="table table-striped table-bordered text-center" style="font-size: 12px;">
	<thead class="bg-warning">
	<tr>
		<th class="text-center">Central Tax Audit Office</th>
		<th class="text-center">Incumbent</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td class="bg-warning">Commissioner of Central Tax Audit I Bengaluru</td>
		<td>Shri Vivek Prasad</td>
	</tr>
	<tr>
		<td class="bg-warning">Commissioner of Central Tax Audit II Bengaluru</td>
		<td>Shri Vivek Prasad</td>
	</tr>
	<tr>
		<td class="bg-warning">Commissioner of Central Tax Audit Mysuru</td>
		<td>Shri S.R. Dange</td>
	</tr>
	<tr>
		<td class="bg-warning">Commissioner of Central Tax Audit Belgavi</td>
		<td>Shri S.R. Dange</td>
	</tr>
</tbody>
</table>	
	

<table class="table table-striped table-bordered text-center" style="font-size: 12px;">
	<thead class="bg-success">
	<tr>
		<th class="text-center">Central Tax Appeals Office</th>
		<th class="text-center">Incumbent</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td class="bg-success">Commissioner Appeals I Bengaluru</td>
		<td>Shri Suresh Kumar</td>
	</tr>
	<tr>
		<td class="bg-success">Additional Commissioner Appeals I Bengaluru</td>
		<td></td>
	</tr>
	<tr>
		<td class="bg-success">Commissioner Appeals II Bengaluru</td>
		<td>Shri Ajay Saxena</td>
	</tr>
	<tr>
		<td class="bg-success">Additional Commissioner Appeals II Bengaluru</td>
		<td></td>
	</tr>
	<tr>
		<td class="bg-success">Commissioner Appeals Mysuru</td>
		<td>Shri Pradip K. Suman</td>
	</tr>
	<tr>
		<td class="bg-success">Additional Commissioner Appeals Mysuru</td>
		<td></td>
	</tr>
	<tr>
		<td class="bg-success">Commissioner Appeals Belagavi</td>
		<td>Shri Pradip K. Suman</td>
	</tr>
	<tr>
		<td class="bg-success">Additional Commissioner Appeals Belagavi</td>
		<td></td>
	</tr>
	</tbody>
</table>



<p>The Central Tax Bengaluru Zone is the successor Zonal Office to both the erstwhile Bangalore Central Excise and Mysuru Central Excise Zonal Offices.  Central Excise Bangalore (Bengaluru) Zone was administering the collection of Central Excise and Service tax in the 9 Revenue Districts of Bangalore Urban, Bangalore Rural, Kolar, Chikkaballapur, Ramanagara, Tumkur, Chitradurga, Davangere and Haveri in the State of Karnataka, while the erstwhile Zonal Office at Mysore (Mysuru) was responsible for the same for the rest of Karnataka.</p>

<p>The Zone has been in the fore front in leading the transformation to GST many of its officers having contributed actively to the drafting of the GST Laws and Rules. It is also actively involved in preparing the ecosystem for the GST by continuing outreach and training activities for officers, other departments, taxpayers and among consumers.</p>
