<p class="text-center"><strong>Central Tax Notifications</strong></p>

<table class="table table-striped table-bordered text-center" style="font-size: 12px;">
	<thead class="bg-primary">
	<tr>
		<th class="text-center">Notification No. &amp; Date of Issue</th>
		<th class="text-center">English</th>
		<th class="text-center">हिन्दी</th>
		<th class="text-center">Subject</th>		
	</tr>
	</thead>
	<tbody>
	
	<tr>
		<td><b>17/2017-Central Tax,dt. 27-07-2017</b></td>
		<td><a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/notfctn-17-central-tax-english.pdf" target="_blank">
			View(358 KB)</a></td>
		<td><a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/notfctn-17-central-tax-hindi.pdf" target="_blank">
			देखें (259 KB)</a></td>
		<td>Seeks to amend the CGST Rules, 2017.</td>
	</tr>
	
	<tr>
		<td>
			<p><b>16/2017-Central Tax,dt. 07-07-2017</b></p>
		</td>
		<td>
			<p><a href="https://www.cbec-gst.gov.in/pdf/central-tax/notfctn-16-central-tax-english.pdf" target="_blank">
			View(209 KB)</a></p>
			<p><a href="https://www.cbec-gst.gov.in/pdf/central-tax/16_2017-CT_ConditionsForLUT_Corrigendum.pdf" target="_blank">
			Corrigendum(85 KB) dated 10-07-2017</a></p>
		</td>
		<td>
			<p><a href="https://www.cbec-gst.gov.in/pdf/central-tax/notfctn-16-central-tax-hindi.pdf" target="_blank">
			देखें( 287 KB)</a></p>
			<p><a href="https://www.cbec-gst.gov.in/pdf/central-tax/16_2017-CT_ConditionsForLUT_Corrigendum(Hindi).pdf" target="_blank">
			Corrigendum,(99 KB) dated 10-07-2017</a></p>
		</td>
		
		<td>
			<p>Notification No. 16/2017-CT (conditions and safeguards for furnishing a Letter of Undertaking in place of a bond for export without payment of integrated tax</p>
		</td>
	</tr>
	
	<tr>
		<td>
			<p><b>15/2017-Central Tax,dt. 01-07-2017</b></p>
		</td>
		<td>
			<p><a href="https://www.cbec-gst.gov.in/pdf/central-tax/notfctn-15-central-tax-english.pdf" target="_blank">
			View(504 KB)</a></p>
		</td>
		<td>
			<p><a href="https://www.cbec-gst.gov.in/pdf/central-tax/notfctn-15-central-tax-hindi.pdf" target="_blank">
			देखें(1841 KB)</a></p>
		</td>
		<td>
			<p>Amending CGST Rules notification 10/2017-CT dt 28.06.2017</p>
		</td>
	</tr>
	
	<tr>
		<td>
			<p><b>14/2017-Central Tax,dt. 01-07-2017</b></p>
		</td>
		<td>
			<p><a href="https://www.cbec-gst.gov.in/pdf/central-tax/notfctn-14-central-tax-english.pdf" target="_blank">
			View(74 KB)</a></p>
		</td>
		<td>
			<p><a href="https://www.cbec-gst.gov.in/pdf/central-tax/notfctn-14-central-tax-hindi.pdf" target="_blank">
			देखें( 107 KB)</a></p>
		<td>
			<p>Assigning jurisdiction and power to officers of various directorates</p>
		</td>
	</tr>

	<tr>
		<td>
			<p><b>13/2017-Central Tax,dt. 28-06-2017</b></p>
		</td>
		<td>
			<p><a href="https://www.cbec-gst.gov.in/pdf/central-tax/notfctn-13-central-tax-english.pdf" target="_blank">
			View(80.1 KB)</a></p>
		</td>
		<td>
			<p><a href="https://www.cbec-gst.gov.in/pdf/central-tax/notfctn-13-central-tax-hindi.pdf" target="_blank">
			देखें( 85.5 KB)</a></p>
		<td>
			<p>Seeks to prescribe rate of interest under CGST Act, 2017</p>
		</td>
	</tr>

	</tbody>
	
</table>
<p><strong>For more Central Tax notifications, visit 
<a href="http://www.cbec.gov.in/htdocs-cbec/gst/central-tax-notfns-2017" target="_blank">CBEC site</a>.</strong></p>