<p class="text-center"><strong>IGST Notifications</strong></p>

<table class="table table-striped table-bordered text-center" style="font-size: 12px;">
	<thead class="bg-primary">
	<tr>
		<th class="text-center">Notification No. &amp; Date of Issue</th>
		<th class="text-center">English</th>
		<th class="text-center">हिन्दी</th>
		<th class="text-center">Subject</th>		
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>06/2017-Integrated Tax,dt. 28-06-2017</td>
		<td><a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/notfctn-6-igst-tax-english.pdf" target="_blank">
			View(82 KB)</a></td>
		<td><a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/notfctn-6-igst-tax-hindi.pdf" target="_blank">
			देखें (87 KB)</a></td>
		<td>Seeks to prescribe rate of interest under CGST Act, 2017</td>
	</tr>
	<tr>
		<td>05/2017-Integrated Tax,dt. 28-06-2017</td>
		<td><a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/notfctn-5-igst-tax-english.pdf" target="_blank">
			View(84 KB)</a></td>
	<td><a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/notfctn-5-igst-tax-hindi.pdf" target="_blank">
			देखें (90 KB)</a></td>
		<td>Seeks to notify the number of HSN digits required on tax invoice</td>
	</tr>
	<tr>
		<td>04/2017-Integrated Tax,dt. 28-06-2017</td>
		<td><a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/notfctn-4-igst-tax-english.pdf" target="_blank">
			View(81 KB)</a></td>
	<td><a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/notfctn-4-igst-tax-hindi.pdf" target="_blank">
			देखें (85 KB)</a></td>
		<td>Seeks to notify IGST Rules, 2017</td>
	</tr>
	<tr>
		<td>03/2017-Integrated Tax,dt. 28-06-2017</td>
		<td><a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/notfctn-3-integrated-tax-english.pdf" target="_blank">
			View(78 KB)</a></td>
	<td><a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/notfctn-3-integrated-tax-hindi.pdf" target="_blank">
			देखें (81 KB)</a></td>
		<td>Seeks to bring into force certain sections of the IGST Act, 2017 w.e.f 01.07.2017</td>
	</tr>
	
	<tr>
		<td>02/2017-Integrated Tax,dt. 19-06-2017</td>
		<td><a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/notfctn-2-integrated-tax-english.pdf" target="_blank">
			View(339 KB)</a>

		</td>
	<td><a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/notfctn-2-integrated-tax-hindi.pdf" target="_blank">
			देखें (775 KB)</a>
			
		</td>
		<td>Seeks to  empower  the Principal Commissioner of Central Tax, Bengaluru West  to grant registration  in case of online information and database access or retrieval services provided or agreed to be provided by a person located in non-taxable territory and received by a non-taxable online recipient.</td>
	</tr>
	
	<tr>
		<td>01/2017-Integrated Tax,dt. 19-06-2017</td>
		<td><a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/notfctn-1-integrated-tax-english.pdf" target="_blank">
			View(100 KB)</a>

		</td>
		<td><a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/notfctn-1-integrated-tax-hindi.pdf" target="_blank">
			देखें (447 KB)</a>
			
		</td>
		<td>Seeks to bring certain sections of the IGST Act, 2017 into force w.e.f. 22.06.2017</td>
	</tr>
	</tbody>
</table>	
<p><strong>For more IGST notifications, visit 
<a href="http://www.cbec.gov.in/htdocs-cbec/gst/integrated-tax-notfns-2017" target="_blank">CBEC site</a>.</strong></p>