<p class="text-center"><strong>UTGST Notifications</strong></p>

<table class="table table-striped table-bordered text-center" style="font-size: 12px;">
	<thead class="bg-primary">
	<tr>
		<th class="text-center">Notification No. &amp; Date of Issue</th>
		<th class="text-center">English</th>
		<th class="text-center">हिन्दी</th>
		<th class="text-center">Subject</th>		
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>03/2017-Union Territory Tax,dt. 28-06-2017</td>
		<td><a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/notfctn-3-UTGST-english.pdf" target="_blank">
			View(282 KB)</a></td>
		<td><a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/notfctn-3-UTGST-hindi.pdf" target="_blank">
		देखें(473 KB)</a></td>
		<td>Seeks to appoints the 1stday of July, 2017, as the date on which the provisions of  sections 6 to 16, 18 to 20 and 23 to 26 of Union Territory Goods and Services Tax Act, 2017 (14 of 2017)shall come into force.</td>
	</tr>
	
	<tr>
		<td>02/2017-Union Territory Tax,dt. 27-06-2017</td>
		<td><a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/notfctn-2-UTGST-english.pdf" target="_blank">
			View(121 KB)</a>
			
		</td>
		<td><a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/notfctn-2-UTGST-hindi.pdf" target="_blank">
		देखें(49 KB)</a>
			
		</td>
		<td>Seeks to notify the turnover limit for Composition Levy for UTGST</td>
	</tr>
	
	<tr>
		<td>01/2017-Union Territory Tax, dated 21st June, 2017</td>
		<td>-</td>
		<td><a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/notfctn-1-UTGST-hindi.pdf" target="_blank">
		देखें(1181 KB)</a>
		
		</td>	
		<td>-</td>
	</tr>
	</tbody>
</table>	
<p><strong>For more UTGST notifications, visit 
<a href="http://www.cbec.gov.in/htdocs-cbec/gst/union-territory-tax-notfns-2017" target="_blank">CBEC site</a>.</strong></p>