<p class="text-center"><strong>UTGST Rate Notifications</strong></p>

<table class="table table-striped table-bordered text-center" style="font-size: 12px;">
	<thead class="bg-primary">
	<tr>
		<th class="text-center">Notification No. &amp; Date of Issue</th>
		<th class="text-center">English</th>
		<th class="text-center">हिन्दी</th>
		<th class="text-center">Subject</th>		
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>18/2017-Union Territory Tax (Rate),dt. 30-06-2017</td>
		<td><a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/notfctn-18-UTGST-rate-english.pdf" target="_blank">
			View(135 KB)</a></td>
		<td><a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/notfctn-18-UTGST-rate-hindi.pdf" target="_blank">
			देखें(37 KB)</a></td>
		<td>Seek to reduce the rate of  Central Tax, Union Territory Tax, on fertilisers from 6% to 2.5% and Integrated Tax rate on fertilisers from 12% to 5%</td>
	</tr>
	
	
	
	    <tr>
		<td>17/2017-Union Territory Tax (Rate),dt. 28-06-2017</td>
		<td><a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/ECO Notification - UTGST.pdf" target="_blank">
			View(135 KB)</a></td>
		<td><a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/Hindi ECO Notification UTGST.pdf" target="_blank">
			देखें(721 KB)</a></td>
		<td>To notify the categories of services the tax on intra-State supplies of which shall be paid by the electronic commerce operator
<		/td>
	</tr>
	
		<tr>
		<td>16/2017-Union Territory Tax (Rate),dt. 28-06-2017</td>
		<td><a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/Refund to specialised Agency UN, diplomatic mission etc - UTGST.pdf" target="_blank">
			View(345 KB)</a></td>
		<td><a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/Hindi Refund to specialised Agency UN, diplomatic mission etc - UTGST.pdf" target="_blank">देखें(393 KB)</a></td>
		<td>To notify specialised agencies entitled to claim a refund of taxes paid on the notified supplies of goods or services or both received by them under UTGST Act</td>
	</tr>
	
		<tr>
		<td>15/2017-Union Territory Tax (Rate),dt. 28-06-2017</td>
		<td><a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/No refund of overflow ITC for construction - UTGST.pdf" target="_blank">
			View(144 KB)</a></td>
		<td><a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/Hindi No refund of overflow ITC for construction - UTGST.pdf" target="_blank">
			देखें(371 KB)</a></td>
		<td>To notify the supplies not eligible for refund of unutilised ITC under UTGST Act</td>
	</tr>
	
	<tr>
		<td>14/2017-Union Territory Tax (Rate),dt. 28-06-2017</td>
		<td><a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/Neither Good Nor Supply 243G - UTGST.pdf" target="_blank">
			View(249 KB)</a></td>
		<td><a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/Hindi Neither Good Nor Supply 243G - UTGST.pdf" target="_blank">
			देखें(316 KB)</a></td>
		<td>To notify the supplies which shall be treated neither as a supply of goods nor a supply of service under the UTGST Act 
</td>
	</tr>
	</tbody>
</table>	
<p><strong>For more UTGST Rate notifications, visit 
<a href="http://www.cbec.gov.in/htdocs-cbec/gst/union-territory-tax-rate-2017" target="_blank">CBEC site</a>.</strong></p>