<p class="text-center"><strong>Compensation Cess Notifications</strong></p>

<table class="table table-striped table-bordered text-center" style="font-size: 12px;">
	<thead class="bg-primary">
	<tr>
		<th class="text-center">Notification No. &amp; Date of Issue</th>
		<th class="text-center">English</th>
		<th class="text-center">हिन्दी</th>
		<th class="text-center">Subject</th>		
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>01/2017-Compensation Cess, dt. 28-06-2017</td>
		<td><a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/notfctn-1-compensation-english.pdf" target="_blank">
			View(236 KB)</a></td>
	<td><a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/notfctn-1-compensation-hindi.pdf" target="_blank">
			देखें (473 KB)</a></td>
		<td>Seeks to appoint the 1st day of July, 2017, as the date on which all the provisions of Goods and Services Tax (Compensation to States) Act, 2017 (15 of 2017) shall come into force 
	</td>
	</tr>
	</tbody>
</table>
<p><strong>For more Compensation Cess notifications, visit 
<a href="http://www.cbec.gov.in/htdocs-cbec/gst/compensation-cess-2017" target="_blank">CBEC site</a>.</strong></p>