<p class="text-center"><strong>Integrated Tax Rate Notifications</strong></p>

<table class="table table-striped table-bordered text-center" style="font-size: 12px;">
	<thead class="bg-primary">
	<tr>
		<th class="text-center">Notification No. &amp; Date of Issue</th>
		<th class="text-center">English</th>
		<th class="text-center">हिन्दी</th>
		<th class="text-center">Subject</th>		
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>18/2017-Integrated Tax (Rate) ,dt. 05-07-2017</td>
		<td><a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/notification18-igst-rate.pdf" target="_blank">
			View(188 KB)</a></td>
		<td><a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/notification18-igst-rate-hindi.pdf" target="_blank">
			देखें (30 KB)</a></td>
		<td>IGST exemption to SEZs on import of Services by a unit/developer in an SEZ
		<p>Notification 64/2017-Cus,dt. 05-07-2017 -
		IGST exemption to SEZs on import of Goods by a unit/developer in an SEZ
		<a href="http://www.cbec.gov.in/resources//htdocs-cbec/customs/cs-act/notifications/notfns-2017/cs-tarr2017/cs64-2017-revised.pdf" target="_blank"> Eng </a>
		<a href="http://www.cbec.gov.in/resources//htdocs-cbec/customs/cs-act/notifications/notfns-2017/cs-tarr2017/cs64h-2017.pdf" 
		target="_blank"> Hindi </a>
		</p>
		</td>
	</tr>
	
	
	<tr>
		<td>17/2017-Integrated Tax (Rate) ,dt. 05-07-2017</td>
		<td><a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/Notification17-IGST-rate.pdf" target="_blank">
			View(188 KB)</a></td>
	<td><a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/Notification17-IGST-rate-hindi.pdf" target="_blank">
			देखें (29 KB)</a></td>
		<td>Rescinding Notification No. 15/2017-Integrated Tax (Rate) dated 30.06.2017</td>
	</tr>
	
	
	<tr>
		<td>16/2017-Integrated Tax (Rate) ,dt. 30-06-2017</td>
		<td><a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/Notification16-IGST-rate.pdf" target="_blank">
			View(136 KB)</a></td>
	<td><a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/Notification16-IGST-rate-hindi.pdf" target="_blank">
			देखें (37 KB)</a></td>
		<td>Seek to reduce the rate of  Central Tax, Union Territory Tax, on fertilisers from 6% to 2.5% and Integrated Tax rate on fertilisers from 12% to 5%</td>
	</tr>
	
	<tr>
		<td>15/2017-Integrated Tax (Rate) ,dt. 30-06-2017</td>
		<td><a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/Notification15-IGST-rate.pdf" target="_blank">
			View(136 KB)</a></td>
	<td><a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/Notification15-IGST-rate-hindi.pdf" target="_blank">
			देखें (36 KB)</a></td>
		<td>Notification for Exemption from Integrated Tax to SEZ</td>
	</tr>
	</tbody>
</table>	

<p><strong>For more Integrated Tax Rate notifications, visit 
<a href="http://www.cbec.gov.in/htdocs-cbec/gst/integrated-tax-rate-2017" target="_blank">CBEC site</a>.</strong></p>