<p class="text-center"><strong>Compensation Cess Rate Notifications</strong></p>

<table class="table table-striped table-bordered text-center" style="font-size: 12px;">
	<thead class="bg-primary">
	<tr>
		<th class="text-center">Notification No. &amp; Date of Issue</th>
		<th class="text-center">English</th>
		<th class="text-center">हिन्दी</th>
		<th class="text-center">Subject</th>		
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>04/2017-Compensation Cess (Rate),dt. 20-07-2017</td>
		<td><a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/notification04-compensation-cess-rate.pdf" target="_blank">
			View(82 KB)</a></td>
		<td><a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/notification04-compensation-cess-rate-hindi.pdf" target="_blank">
			देखें(153 KB)</a></td>
		<td>Seeks to exempt intra-State supplies of second hand goods received by a registered person, dealing in buying and selling of second hand goods and who pays the goods and services tax compensation cess on the value of outward supply of such second hand goods, as determined under sub-rule (5) of rule 32 of the Central Goods and Services Tax Rules, 2017, from any supplier, who is not registered, from the whole of the goods and services tax compensation cess leviable thereon under section 8 of the Goods and Services Tax (Compensation to States) Act, read with sub-section (4) of Section 9 of the Central Goods and Services Tax Act</td>
	</tr>
	
	
	
	<tr>
		<td>03/2017-Compensation Cess (Rate),dt. 18-07-2017</td>
		<td><a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/notfctn-3-gst-tax-compensation-english.pdf" target="_blank">
			View(253 KB)</a></td>
		<td><a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/notfctn-3-gst-tax-compensation-hindi.pdf" target="_blank">
			देखें (50 KB)</a></td>
		<td>Seeks to amend notification No. 1/2017- Compensation Cess (Rate), dated 28th, June, 2017 so as to increase the Compensation Cess rates on cigarettes as mentioned in the notification with effect from 18th, July, 2017</td>
	</tr>
	

	
	<tr>
		<td>02/2017-Compensation Cess (Rate),dt. 28-06-2017</td>
		<td><a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/GST-Compensation-Cess-Notification.pdf" target="_blank">
			View(117 KB)</a><br> 
			<a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/corrigndm-ntfctn-2-cmpnstn-cess-rate.pdf" target="_blank">
			Corrigendum(488 KB)</a>, dated 01-07-2017
			</td>
		<td><a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/Hindi-GST-Compensation-Cess-Notification.pdf" target="_blank">
			देखें (655 KB)</a><br>
			<a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/corrigndm-ntfctn-2-cmpnstn-cess-rate-hindi.pdf" target="_blank">
			Corrigendum(488 KB)</a>, dated 01-07-2017
			</td>
		<td>To notify the rates of compensation cess on supply of specified services</td>
	</tr>
	
		<tr>
		<td>01/2017-Compensation Cess (Rate),dt. 28-06-2017</td>
		<td><a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/notfctn-1-compensation-cess-english.pdf" target="_blank">
			View(317 KB)</a><br>
			<a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/corrigndm-ntfctn-1-cmpnstn-cess-rate.pdf" target="_blank">
			Corrigendum(488 KB)</a>, dated 30-06-2017</td>
	<td><a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/notfctn-1-compensation-cess-hindi.pdf" target="_blank">
			देखें (782 KB)</a><br>
			<a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/corrigndm-ntfctn-1-cmpnstn-cess-rate-hindi.pdf" target="_blank">
			Corrigendum(488 KB)</a>, dated 30-06-2017
			</td>
		<td>Seeks to notify Rates of goods and services tax compensation cess under Goods and Services Tax (Compensation to States) Act, 2017 (15 of 2017). </td>
	</tr>
	</tbody>
</table>	
<p><strong>For more Compensation Cess Rate notifications, visit 
<a href="http://www.cbec.gov.in/htdocs-cbec/gst/compensation-cess-rate-2017" target="_blank">CBEC site</a>.</strong></p>