<p class="text-center"><strong>CGST Circulars</strong></p>

<table class="table table-striped table-bordered text-center" style="font-size: 12px;">
  <thead>
	  <tr class="bg-primary">
		  <th class="text-center">Circular No.</th>
		  <th class="text-center">English</th>
		  <th class="text-center">हिन्दी</th>
		  <th class="text-center">Date of issue</th>
		  <!-- <th>File No.</th> -->
		  <th class="text-center">Subject</th>
	  </tr>
  </thead>
  <tbody>
		<tr>
		  <td>04/2017</td>
		  <td><a href="https://cbec-gst.gov.in/pdf/circularno-4-gst.pdf" target="_blank">
			View(371 KB)</a></td>
		  <td></td>
		  <td>07-07-2017</td>
		  <!-- <td>F. No. 349/82/2017-GST</td> -->
		  <td>Reagrding issues related to Bond/Letter of Undertaking for exports without payment of integrated tax – Reg.</td>
		</tr>
		<tr>
		  <td>03/2017</td>
		  <td><a href="https://cbec-gst.gov.in/pdf/circularno-3-gst.pdf" target="_blank">
			View(236 KB)</a></td>
		  <td></td>
		  <td>05-07-2017</td>
		  <!-- <td>F. No. 349/75/2017-GST</td> -->
		  <td>Proper officer relating to provisions other than Registration and Composition under the Central Goods and Services Tax Act, 2017–Reg</td>
		</tr>
		<tr>
		  <td>02/2017</td>
		  <td><a href="https://cbec-gst.gov.in/pdf/circularno-2-gst.pdf" target="_blank">
			View(107 KB)</a></td>
		  <td></td>
		  <td>04-07-2017</td>
		  <!-- <td>F. No. 349/82/2017-GST</td> -->
		  <td>Issues related to furnishing of Bond/ Letter of Undertaking for Exports–Reg</td>
		</tr>
		<tr>
		  <td>01/2017</td>
		  <td><a href="https://cbec-gst.gov.in/pdf/circularno-1-on-Proper-Officer.pdf" target="_blank">
			View(230 KB)</a></td>
		  <td></td>
		  <td>26-06-2017</td>
		  <!-- <td>F. No. 349/75/2017-GST</td> -->
		  <td>Proper officer for provisions relating to Registration and Composition levy under the Central Goods and Services Tax Act, 2017 or the rules made thereunder – Reg</td>
		</tr>
  </tbody>
</table>

<p class="text-center"><strong>IGST Circulars</strong></p>
 <table class="table table-striped table-bordered text-center" style="font-size: 12px;">
	<thead>
		<tr class="bg-primary">
		  <th class="text-center">Circular No.</th>
		  <th class="text-center">English</th>
		  <th class="text-center">हिन्दी</th>
		  <th class="text-center">Date of issue</th>
		  <!-- <th>File No.</th> -->
		  <th class="text-center">Subject</th>
		</tr>
	</thead>
	<tbody>
	   <tr>
			<td>1/1/2017-IGST</td>
			<td><a href="https://cbec-gst.gov.in/pdf/igst-circu-1.pdf" target="_blank">View(268 KB)</a></td>
			<td></td>
			<td>07-07-2017</td>
			<!-- <td>F.No.354/119/2017–TRU(Pt)</td> -->
			<td>Clarification on Inter-state movement of various modes of conveyance, carrying goods or passengers or for repairs and maintenance- regarding</td>
		  </tr>
	</tbody>
</table>