<p class="text-center"><strong>GST linked Customs Notifications</strong></p>

<table class="table table-striped table-bordered text-center" style="font-size: 12px;">
	<thead class="bg-primary">
	<tr>
		<th class="text-center">Notification No. &amp; Date of Issue</th>
		<th class="text-center">English</th>
		<th class="text-center">हिन्दी</th>
		<th class="text-center">Subject</th>		
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>65/2017-Cus,dt. 08-07-2017</td>
		<td><a href="http://www.cbec.gov.in/resources//htdocs-cbec/customs/cs-act/notifications/notfns-2017/cs-tarr2017/cs65e-2017.pdf"
			target="_blank">View(121 KB)</a></td>
		<td><a href="http://www.cbec.gov.in/resources//htdocs-cbec/customs/cs-act/notifications/notfns-2017/cs-tarr2017/cs65hi-2017.pdf"
			target="_blank">देखें (197 KB)</a></td>
		<td>Related to Leasing of aircraft. Seeks to amend Notification No. 50/2017-Customs dated 30.06.2017</td>
	</tr>
	<tr>
	</tbody>
</table>	

<p><strong>For more Customs notifications, visit 
<a href="http://www.cbec.gov.in/Customs-Notifications" target="_blank">CBEC site</a>.</strong></p>