<div class="container">
  <div class="card card-outline-success mb-3 text-center">
  <h2 class="card-header">Know Your Jurisdiction</h2>
  <div class="card-block">
    <form (ngSubmit)="onSubmit()" #jurisForm="ngForm">
     
      <div class="form-group">
        <label for="pincode"><b>Pincode</b></label>
        <input type="text" class="form-control" id="pincode"
				required
				[(ngModel)]="model.pincode" name="pincode">
      </div>

      <div class="form-group">
        <label for="alph">
		<b>Starting Alphabet of Registered Name</b>
		<p>(For special characters, use 'A')</p>
		</label>
        <select class="form-control" id="alph"
                required
                [(ngModel)]="model.alph" name="alph">
          <option *ngFor="let alph of alphabets" [value]="alph">{{alph}}</option>
        </select>
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!jurisForm.form.valid">Submit</button>
    </form>
</div>
</div>



  <!--table class="table table-striped">
  
 <thead>
  <tr>
     <th>{{ juris.comm }} Commissionerate</th>
  </tr>
   <tr>
     <th>{{ juris.commAddr }}</th>
  </tr>
 </thead>
 <tbody>
  <tr>
     <td>Division</td>
     <td>{{juris.div}}</td>
  </tr>
  <tr>
     <td>Address</td>
     <td>{{juris.divAddr}}</td>
  </tr>
  <tr>
     <td>Division Jurisdiction</td>
     <td>{{juris.pincodes}}</td>
  </tr>
 </tbody>
</table-->
<div class="card card-outline-success mb-3" [hidden]="!submitted">
  <h3 class="card-header  text-center">Jurisdiction</h3>
  <div class="card-block">
	<table class="table table-striped">
	<tbody>
    <tr>
      <td class="text-right"><b>Commissionerate</b></td>
      <td class="text-left">{{ juris.comm}} </tr>
    <tr>
      <td class="text-right"><b>Commissionerate Address</b></td>
      <td class="text-left">{{juris.commAddr}}</td>  
    </tr>
    <tr [hidden]="juris.div==juris.comm">
      <td class="text-right"><b>Division</b></td>
      <td class="text-left">{{ juris.div }}</td>  
    </tr>
    <tr [hidden]="juris.div==juris.comm">
      <td class="text-right"><b>Division Address</b></td>
      <td class="text-left">{{ juris.divAddr }}</td>  
    </tr>
	    <tr [hidden]="juris.div==juris.comm">
      <td class="text-right"><b>Division Phone Number</b></td>
      <td class="text-left">{{ juris.divPhone }}</td>  
    </tr>
	    <tr [hidden]="juris.div==juris.comm">
      <td class="text-right"><b>Division Email</b></td>
      <td class="text-left">{{ juris.divEmail }}</td>  
    </tr>
    <tr>
      <td class="text-right"><b>Complete Jurisdiction of {{ juris.div }}</b></td>
      <td  class="text-left" style="word-wrap: break-word;min-width: 160px;max-width: 160px;">{{ juris.pincodes }}</td>  
    </tr>
    </tbody>
	</table>
	<p>For further details, refer to <b><u>Page {{ juris.refTN}}</u></b> of the <b><u><a href="http://centralexcisebangalore.gov.in/whats%20new/Trade%20Notice%20No-01-2017%20Central%20Tax%20%20%20%20.pdf">Trade Notice</a></u></b>.</p>
  </div>
</div>




    <!--h2>Jurisdiction</h2>
    <div class="row">
      <div class="col-xs-3">Commissionerate: </div>
      <div class="col-xs-9  pull-left">{{ juris.comm }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Commissionerate Address:</div>
      <div class="col-xs-9 pull-left">{{ juris.commAddr }}</div>
    </div>
	    <div class="row">
      <div class="col-xs-3">Division: </div>
      <div class="col-xs-9  pull-left">{{ juris.div }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Division Address:</div>
      <div class="col-xs-9 pull-left">{{ juris.divAddr }}</div>
    </div>
	<div class="row">
      <div class="col-xs-3">Complete Jurisdiction of Division {{ juris.div }}:</div>
      <div class="col-xs-9 pull-left">{{ juris.pincodes }}</div>
    </div-->
 
</div>