<!--The content below is only a placeholder and can be replaced.-->
<!--div style="text-align:center"-->
<div class="container-fluid" style="border:1px solid #cecece;">
  
  <!--div class="row align-items-center banner" style="border:1px solid black; background-color: lightblue"-->
  <div class="row align-items-center">
  <div class="col-2">
	<img src="assets/ashoka-emblem.PNG" class="img-fluid float-left" alt="Ashoka Emblem" longdesc="National Emblem of the Republic of India" />
    <!--img src="assets/cbec-logo.png"  alt="CBEC"-->
  </div>
  <div class="col-8" style="text-align:center">
	<strong>
	<span style="font-size: medium;">OFFICE OF THE</span><br/> 
	<span style="font-size: large;">PRINCIPAL CHIEF COMMISSIONER OF CENTRAL TAX, BENGALURU ZONE</span><br/>
	<span style="font-size: large;">ಪ್ರಧಾನ ಮುಖ್ಯ ಆಯುಕ್ತರು ಕೇಂದ್ರ ತೆರಿಗೆ , ಬೇಂಗಳೂರು ವಲಯ</span><br/>
	<span style="font-size: large;">प्रधान मुख्य आयुक्त केंद्रीय कर, बेंगलूर अंचल</span><br/>
	<span style="font-size: medium;">KARNATAKA</span>
	</strong>
  </div>
  
  <div class="col-2">
   <img src="assets/revolver.gif" class="img-fluid float-right" alt="CBEC Logo"  longdesc="CBEC Logo" />
  </div>
  </div>

  <div class="row mt-1">
  <div class="col-12">
  <strong>
     <marquee style="height: 35px; vertical-align: bottom; border-top-color: #000000; border-top-style: double; border-bottom-color: #000000; border-bottom-style: double; white-space: normal; text-align: center; margin-bottom: auto; font-size: large; 	background-color: #FF9800;">Pay your GST, Build your Nation || GST- One Nation, One Market, One Tax ||</marquee>
  </strong>
  </div>
  </div>
  
  <nav class="navbar navbar-inverse navbar-toggleable-md mt-1" style="background-color: #020244;">
  <!--button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button-->
  
  <!--div class="collapse navbar-collapse" id="navbarNavDropdown"-->
    <ul class="navbar-nav">
	<li class="nav-item active dropdown">
        <a class="nav-link btn mr-1" href="#" id="navbarDropdownMenuLink" aria-haspopup="true" aria-expanded="false">
          Home
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="home/pcc-msg">Message from the Principal CC</a>
          <a class="dropdown-item" href="home/about-us">About Us</a>
          <a class="dropdown-item"  target="_blank" href="assets/helpdesks.pdf">Helpdesks</a>
        </div>
      </li>
	  <li class="nav-item active">
        <a class="nav-link btn mr-1" href="/rti">RTI</a>
      </li>
	  <li class="nav-item dropdown active">
        <a class="nav-link btn mr-1" href="#" id="navbarDropdownMenuLink" aria-haspopup="true" aria-expanded="false">
          GST Acts
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" target="_blank" href="assets/acts/consti-amend-act.pdf">Constitution 101st Ammendment Act</a>
          <a class="dropdown-item" target="_blank" href="assets/acts/cgst-act.pdf">CGST Act</a>
          <a class="dropdown-item" target="_blank" href="assets/acts/igst-act.pdf">IGST Act</a>
		  <a class="dropdown-item" target="_blank" href="assets/acts/ut-gst-act.pdf">UTGST Act</a>
		  <a class="dropdown-item" target="_blank" href="assets/acts/gst-compensation-to-states-act.pdf">GST Compensation Act</a>
		  <a class="dropdown-item" target="_blank" href="assets/acts/kgst-act.pdf">Karnataka SGST Act</a>
		  
        </div>
      </li>
	  
 
	  <li class="nav-item dropdown active">
        <a class="nav-link btn mr-1" href="#" id="navbarDropdownMenuLink" aria-haspopup="true" aria-expanded="false">
          GST Rules
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" target="_blank" href="assets/rules/cgst-rules.pdf">CGST Rules</a>
        </div>
      </li>
	  
	  <li class="nav-item dropdown active">
        <a class="nav-link btn mr-1" href="#" id="navbarDropdownMenuLink" aria-haspopup="true" aria-expanded="false">
          GST Notifications
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="notifs/ct">CGST Notifications</a>
          <a class="dropdown-item" href="notifs/ctr">CGST Rate Notifications</a>
          <a class="dropdown-item" href="notifs/it">IGST Notifications</a>
		  <a class="dropdown-item" href="notifs/itr">IGST Rate Notifications</a>
		  <a class="dropdown-item" href="notifs/ut">UTGST Notification</a>
		  <a class="dropdown-item" href="notifs/utr">UTGST Rate Notification</a>
		  <a class="dropdown-item" href="notifs/cc">Compensation Cess Notifications</a>
		  <a class="dropdown-item" href="notifs/ccr">Compensation Cess Rate Notification</a>
		  <a class="dropdown-item" href="notifs/cus">GST linked Customs Notifications</a>
        </div>
      </li>
	  
      

     <li class="nav-item active">
        <a class="nav-link btn mr-1" href="/circulars">Circulars</a>
      </li>
     <li class="nav-item active">
        <a class="nav-link btn mr-1" href="/trade-notices">Trade Notices</a>
      </li>
     <!--li class="nav-item">
        <a class="nav-link btn mr-1" href="/downloads">Downloads</a>
      </li-->
	 <li class="nav-item active">
        <a class="nav-link btn mr-1" href="/faqs">FAQs</a>
     </li>

     <li class="nav-item dropdown active">
        <a class="nav-link btn mr-1" href="#">Useful Links</a>
		
	<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
	 <a class="dropdown-item" target="_blank" href="http://www.cbec.gov.in/">Central Board of Excise and Customs (CBEC)</a>
     <a class="dropdown-item" target="_blank" href="http://www.cbec.gov.in/htdocs-cbec/gst/index">CBEC - GST Portal</a>
     <a class="dropdown-item" target="_blank" href="https://www.gst.gov.in/">Goods and Service Tax Portal</a>
     <a class="dropdown-item" target="_blank" href="http://www.gstn.org">GSTN Portal</a>
     <a class="dropdown-item" target="_blank" href="https://india.gov.in/">National Portal of India</a>
     <a class="dropdown-item" target="_blank" href="http://finmin.nic.in/">Ministry of Finance, GOI</a>
     <a class="dropdown-item" target="_blank" href="http://centralexcisebangalore.gov.in/ ">Central Excise Zone, Bengaluru</a>
     <a class="dropdown-item" target="_blank" href="http://www.bangaloreservicetax.gov.in/ ">Commissioner Appeals I, Bengaluru</a>
     <a class="dropdown-item" target="_blank" href="http://www.cexmangalore.gov.in/">Mangaluru Commissionerate</a>
     <a class="dropdown-item" target="_blank" href="http://www.centralexcisebelgaum.kar.nic.in ">Belagavi Commissionerate</a>
     <a class="dropdown-item" target="_blank" href="http://centralexcisemysore.gov.in/">Mysuru Commissionerate</a>
	 <a class="dropdown-item" target="_blank" href="http://bangalorecustoms.gov.in/">CUSTOMS Bengaluru</a>
	</div>
	</li>
	 
	 
    </ul>
  <!--/div-->

  </nav>
  <!--ul>
  <li><a href="#home">Home</a></li>
  <li><a href="#news">News</a></li>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Dropdown</a>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </li>
</ul-->

 <!--ul>  
	<li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Home</a>
    <div class="dropdown-content">
    <a href="#">Message from the Principal CC</a>
    <a href="#">About Us</a>
    <a href="#">Help Desks</a>
    <a href="#">Link 3</a>
    <a href="#">Link 3</a>
	</div>
	</li>

  
	<li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">GST Acts</a>
    <div class="dropdown-content">
    <a href="#" rel="noopener noreferrer "target="_blank">Constitution 101st Ammendment Act</a>
    <a href="#" rel="noopener noreferrer "target="_blank">CGST Act</a>
    <a href="#" rel="noopener noreferrer "target="_blank">IGST Act</a>
    <a href="#" rel="noopener noreferrer "target="_blank">Karnataka State GST Act</a>  
	</div>
	</li>
</ul-->
  
  
  <!--nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">CBEC</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a  class="nav-item nav-link" href="#">Find</a>
      <a routerLink="/populate" routerLinkActive="active" class="nav-item nav-link" href="#">Populate</a>
    </div>
  </div>
</nav-->
<div class="row  mt-2">

<div class="col-2">
<nav class="nav  nav-pills flex-column">
  <a class="nav-link btn btn-primary" routerLink="/find" routerLinkActive="active" href="#">Find CGST Office</a>
  <a class="nav-link btn btn-success mt-2" target="_blank" href="https://cbec-gst.gov.in/gst-goods-services-rates.html">GST Rates Finder</a>
  <a class="nav-link btn btn-info  mt-2" href="media-gallery">Media Gallery</a>
  <!--a class="nav-link btn btn-warning  mt-2" href="whats-new">What's New!</a-->
  <a class="nav-link btn btn-warning  mt-2" href="mailto:pccgstkarnataka@gmail.com">Contact Us</a>
  <a class="nav-link btn btn-danger mt-2" target="_blank" href="https://play.google.com/store/apps/details?id=in.gov.cbec.cbecjurisdictionfinder">Location Finder App!</a>
  
</nav>
</div>

<div class="col-8">
<router-outlet></router-outlet>
</div>

<div class="col-2 align-items-center">
	<a  href="visit-us"><img alt="Locate" class="img-fluid" height="150" src="assets/Map.png"/></a>
	
	

	
	<p class="mt-1 text-center">
	<strong>Find us on social media!</strong>
	</p>
	<p>
<!-- Add font awesome icons -->
<a href="https:/facebook.com/TowardsGST"  target="_blank" class="fa fa-facebook"></a>
<a href="https://twitter.com/cbec_blore" target="_blank" class="fa fa-twitter"></a>
<a href="https://www.youtube.com/channel/UCnCaJlxtsGWpDNTTuwo_gDQ" target="_blank" class="fa fa-youtube"></a>	
</p>
</div>

</div>

<div class="row  mt-3" style="text-align:center">
	<hr/>
	<p>
	<strong>&copy;Office of the Principal Chief Commissioner of Central Tax, Bengaluru Zone</strong><br/>
	<small>Designed and Developed by Central Tax Bengaluru Team: <br />
		   Amitesh Bharat Singh, Anurag Rai, Shafeeq S &amp; Vinayak Hegde </small>
	</p>	   
	<hr/>
</div>

</div>