<p class="text-center"><strong>Central Tax Rate Notifications</strong></p>

<table class="table table-striped table-bordered text-center" style="font-size: 12px;">
	<thead class="bg-primary">
	<tr>
		<th class="text-center">Notification No. &amp; Date of Issue</th>
		<th class="text-center">English</th>
		<th class="text-center">हिन्दी</th>
		<th class="text-center">Subject</th>		
	</tr>
	</thead>
	<tbody>
	<tr>
		<td><b>18/2017-Central Tax (Rate) ,dt. 30-06-2017</b></td>
		<td><a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/Notification18-CGST.pdf" target="_blank">
			View(136 KB)</a></td>
		<td><a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/Notification18-CGST-Hindi.pdf" target="_blank">
			देखें (37 KB)</a></td>
		<td>	
Seek to reduce the rate of  Central Tax, Union Territory Tax, on fertilisers from 6% to 2.5% and Integrated Tax rate on fertilisers from 12% to 5%</td>
	</tr>
	
	
	
	<tr>
		<td><b>17/2017-Central Tax (Rate) ,dt. 28-06-2017</b></td>
		<td><a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/Notification17-CGST.pdf" target="_blank">
			View(136 KB)</a></td>
		<td><a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/Notification17-CGST-Hindi.pdf" target="_blank">
			देखें (585 KB)</a></td>
		<td>	
To notify the categories of services the tax on intra-State supplies of which shall be paid by the electronic commerce operator</td>
	</tr>
	
	<tr>
		<td><b>16/2017-Central Tax (Rate) ,dt. 28-06-2017</b></td>
		<td><a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/Notifications16-CGST.pdf" target="_blank">
			View(344 KB)</a></td>
		<td><a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/Notification16-CGST-Hindi.pdf" target="_blank">
			देखें (385 KB)</a></td>
		<td>	
To notify specialised agencies entitled to claim a refund of taxes paid on the notified supplies of goods or services or both received by them under CGST Act</td>
	</tr>
	<tr>
		<td><b>15/2017-Central Tax (Rate) ,dt. 28-06-2017</b></td>
		<td><a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/Notification15-CGST.pdf" target="_blank">
			View(142 KB)</a></td>
		<td><a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/Notification15-CGST-Hindi.pdf" target="_blank">
			देखें (431 KB)</a></td>
		<td>	
To notify the supplies not eligible for refund of unutilized ITC under CGST Act</td>
	</tr>
	<tr>
		<td><b>14/2017-Central Tax (Rate) ,dt. 28-06-2017</b></td>
		<td><a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/Notification14-CGST.pdf" target="_blank">
			View(248 KB)</a></td>
		<td><a href="http://www.cbec.gov.in/resources//htdocs-cbec/gst/Notification14-CGST-Hindi.pdf" target="_blank">
			देखें (318 KB)</a></td>
		<td>	
To notify the supplies which shall be treated neither as a supply of goods nor a supply of service under the CGST Act</td>
	</tr>
	</tbody>
	
		
</table>
<p><strong>For more Central Tax Rate notifications, visit 
<a href="http://www.cbec.gov.in/htdocs-cbec/gst/central-tax-rate-notfns-2017" target="_blank">CBEC site</a>.</strong></p>