<div class="container  mt-2">
	
	<div class="card card-outline-success mb-3 text-center">
	<h2 class="card-header">Populate Jurisdiction Database</h2>
	<div class="card-block">
	<button type="button" class="btn btn-default" (click)="addDiv()">Add Division</button>
	<button type="button" class="btn btn-default" (click)="editDiv()">Edit Division</button>
    
	<form (ngSubmit)="onSubmit()" #populateForm="ngForm" [hidden]="hideForm" class="mt-2">
      <div class="form-group" [hidden]="edit">
        <label for="division"><b>Division</b></label>
        <input type="text" class="form-control" id="division"
               required
               [(ngModel)]="model.div" name="division"
               #division="ngModel">
      </div>


      <div class="form-group" [hidden]="!edit">
        <label for="division"><b>Division</b></label>
		<select class="form-control" id="division"
                required
                [(ngModel)]="model.div" name="division"
                #division="ngModel"
				(change)="divSelected(model.div)">
          <option *ngFor="let divJuris of existingDivs" [value]="divJuris.div">{{divJuris.div}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="comm"><b>Commissionerate</b></label>
        <input type="text" class="form-control" id="comm"
               required
               [(ngModel)]="model.comm" name="comm"
               #comm="ngModel">
    
      </div>
	  <div class="form-group">
        <label for="pincodes"><b>Pincodes</b></label>
        <input type="text" class="form-control" id="pincodes"
               required
               [(ngModel)]="model.pincodes" name="pincodes"
               #pincodes="ngModel">
  
      </div>
	  <div class="form-group">
        <label for="divPhone"><b>Division Phone Number</b></label>
        <input type="text" class="form-control" id="divPhone"
               [(ngModel)]="model.divPhone" name="divPhone"
               #divPhone="ngModel">

      </div>
	  	  <div class="form-group">
        <label for="divEmail"><b>Division Email</b></label>
        <input type="text" class="form-control" id="divEmail"
               [(ngModel)]="model.divEmail" name="divEmail"
               #divEmail="ngModel">

      </div>
	  <div class="form-group">
        <label for="divAddr"><b>Division Address</b></label>
        <input type="text" class="form-control" id="divAddr"
               [(ngModel)]="model.divAddr" name="divAddr"
               #divAddr="ngModel">

      </div>
	  <div class="form-group">
        <label for="commAddr"><b>Commissionerate Address</b></label>
        <input type="text" class="form-control" id="commAddr"
               required
               [(ngModel)]="model.commAddr" name="commAddr"
               #commAddr="ngModel">

      </div>
	  <div class="form-group">
        <label for="startAlph"><b>Starting Alphabet Range</b></label>
        <input type="text" class="form-control" id="startAlph"
               required
               [(ngModel)]="model.startAlph" name="startAlph"
               #startAlph="ngModel">
      </div>
	  <div class="form-group">
        <label for="endAlph"><b>Ending Alphabet Range</b></label>
        <input type="text" class="form-control" id="endAlph"
               required
               [(ngModel)]="model.endAlph" name="endAlph"
               #endAlph="ngModel">
      </div>
  
	  <div class="form-group">
        <label for="refTN"><b>Trade Notice Reference</b></label>
        <input type="text" class="form-control" id="refTN"
               [(ngModel)]="model.refTN" name="refTN"
               #refTN="ngModel">

      </div>
	  
	  
      <button type="submit" class="btn btn-success" [disabled]="!populateForm.form.valid">Submit</button>
	  <button type="button" class="btn btn-success" (click)="deleteDiv()" [disabled]="!model.div">Delete</button>
    </form>
	</div>
	</div>
</div>