<p><b>GST Day Function</b></p>
<ngb-carousel [interval]="3000">
  <ng-template ngbSlide>
    <img src="assets/media/1.jpg" alt="first slide" style="width:100%;height:50%;">
  </ng-template>
  <ng-template ngbSlide>
    <img src="assets/media/2.jpg" alt="second slide" style="width:100%;height:50%;">
  </ng-template>
  <ng-template ngbSlide>
    <img src="assets/media/3.jpg" alt="third slide" style="width:100%;height:50%;">
  </ng-template>
   <ng-template ngbSlide>
    <img src="assets/media/4.jpg" alt="third slide" style="width:100%;height:50%;">
  </ng-template>
</ngb-carousel>
