<!--div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <img class="d-block img-fluid" src="assets/slide01.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block img-fluid" src="assets/slide02.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block img-fluid" src="assets/slide03.jpg" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div-->
<ngb-carousel [interval]="2000">
  <ng-template ngbSlide>
    <img src="assets/slide01.jpg" alt="first slide" style="width:100%;height:50%;">
  </ng-template>
  <ng-template ngbSlide>
    <img src="assets/slide02.jpg" alt="second slide" style="width:100%;height:50%;">
  </ng-template>
  <ng-template ngbSlide>
    <img src="assets/slide03.jpg" alt="third slide" style="width:100%;height:50%;">
  </ng-template>
</ngb-carousel>